* {
    box-sizing: border-box;
}

main{
    display: grid;
    padding-top: 2rem;
}

header, footer{
    background-color: rgb(141, 97, 89);
    color:white;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
}


img{
    width: 300px;
    margin: 0 auto;
    padding-top: 30px;
}

.purpose{
    font-size: 20px;
    margin: 20px auto;
    max-width: 90%;
}

h1{
    color:rgb(60, 38, 38); 
    padding: 20px;
    text-align: center;
}

h2{
    text-align: center;
    color:white;
    margin-bottom: -0.5em;
    padding: 15px;
    border-top: 5px double rgb(75, 33, 25);
    border-bottom: 5px double rgb(75, 33, 25);
    background-color: rgb(141, 97, 89);
}

h3{
    text-align: center;
}

nav {
    background-color: rgb(75, 33, 25);
	margin: 0 auto;
	max-width: 1000px;
    box-shadow: 0 0 30px rgba(217, 193, 193, 0.9);
}

nav ul {
	list-style-type: none;
    overflow: hidden;
}

nav ul li a {
	display: block;
	color: rgb(244, 231, 231);
	text-align: center;
	padding: 1rem;
	text-decoration: none;
	font-size: 1.5rem;
}

table{
    margin: 20px auto;
	border: thin solid rgb(141, 97, 89);
	box-shadow: 0 0 20px rgb(141, 97, 89);
}

th, td {
    padding: 7px 15px;
    border: 1px solid rgb(141, 97, 89);
}

th {
    background-color: rgb(225, 213, 211);
}

td {
    text-align: center;
}

.color{
    background-color: white;
}

.first{
    color: #EDF756;
    background-color: #51E2F5;
}

.second{
    color: #EDF756;
    background-color: #A28089;
}

.third{
    color: #EDF756;
    background-color: #9DF9EF;
}

.fourth{
    color: #EDF756;
    background-color: #FFA8B6;
}

@media only screen and (min-width: 1280px) {
    
    nav ul{
        display: flex; 
    }

    nav ul li { 
        flex: 1 1 auto;
    } 

    .purpose{
        font-size: 20px;
        margin: 0 auto;
        padding: 100px;
        max-width: 60%;
    }
}
