header, footer{
    background-color: rgb(162, 208, 208);
    text-align: center;
    color:rgb(209, 238, 239);
    padding: 20px;
}

footer{
    display: grid;
    grid-template-rows: 1fr 100px;
    justify-items: center;
}

footer img{
    border-radius: 90px;
}

#thanks h1{
    text-align: center;
}

#banner{
    background-color: rgb(179, 133, 156);
    padding:10px;
    text-align: center;
    position: relative;
}

.bannershow{
    display:block;
}

.bannerhidden{
    display: none;
}


.layout{
    display: grid;
    height: auto;
}

.layout img{
    grid-column: 1/2;
    border-radius: 100px;
}

.title{
    color: white;
    margin: 0 auto;
    grid-column: 2/3;
}

.social{
    grid-column: 3/4;
    grid-row: 1/2;
    margin: auto;
}

.social img{
    max-width: 30px;
}

nav {
	margin: 0 auto;
    grid-column: 4/5;
    grid-row: 1/2;
}

.navigation {
	list-style: none;
	margin: 0;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 1rem;
	text-align: left;
	text-decoration: none;
    color:aliceblue;
}

#menu::before {
	content: "≡";
	font-size: 2rem;
}

.navigation a:hover, navigation a:active {
	color: rgb(29, 115, 136);

}


.responsive li {
	display: block;
}

.responsive #menu::before {
	content: "X";
}

fieldset{
    text-align: center;
    margin: 0 auto;
    background-color: rgb(57, 94, 95);
    color: white;
}

main{
    display: grid;
    grid-template-columns: auto;
}

.corpo section{
    padding: 20px;
    margin:0;
    background-color:rgb(209, 238, 239);
    border: 10px solid rgb(247, 251, 250);
    align-items: center;
}

.spotlight{
    display: grid;
}

.spotlight3{
    display: none;
}

.spotlight img{
    max-width: 150px;
    padding-bottom: 10px;
}

#name{
    font-weight: bold;
}


.hero img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: auto;
}

h2{
    text-align: center;
}