header, footer{
    background-color: rgb(5, 107, 107);
    text-align: center;
    color:rgb(209, 238, 239);
    padding: 20px;
}

footer{
    display: grid;
    grid-template-rows: 1fr 100px;
    justify-items: center;
}

#banner{
    background-color: rgb(213, 156, 156);
    padding:10px;
    text-align: center;
    position: relative;
}

img{
    max-width: 150px;
    padding-bottom: 10px;
}

.layout{
    display: grid;
    height: auto;
}

.layout img{
    grid-column: 1/2;
}

.title{
    color: white;
    margin: 0 auto;
    grid-column: 2/3;
}

.social{
    grid-column: 3/4;
    grid-row: 1/2;
    margin: auto;
}

.social img{
    border-radius: 100px;
    max-width: 30px;
}

nav {
	margin: 0 auto;
    grid-column: 4/5;
    grid-row: 1/2;
}

.navigation {
	list-style: none;
	margin: 0;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 1rem;
	text-align: left;
	text-decoration: none;
    color:aliceblue;
}

#menu::before {
	content: "≡";
	font-size: 2rem;
}

.navigation a:hover, navigation a:active {
	color: white;
	background-color: rgb(28, 88, 94);
}


.responsive li {
	display: block;
}

.responsive #menu::before {
	content: "X";
}

fieldset{
    text-align: center;
    margin: 0 auto;
    background-color: rgb(92, 200, 203);
    color: white;
}

main{
    display: grid;
    grid-template-columns: auto;
}

.corpo section{
    padding: 20px;
    background-color:rgb(209, 238, 239);
    border: 10px solid rgb(247, 251, 250);
}

.spotlight{
    display: grid;
}

.spotlight3{
    display: none;
}

#name{
    font-weight: bold;
}

.large{
    display:none;
}

img.photo{
    width: 100%;
    height: auto;
}