
#images-box  img{
    width: 400px;
    height: auto;
    margin: auto;
}

#images-box{
    display: flex;
	width: 100%;
	margin: auto;
    padding: auto;
    justify-content: center;
    background: radial-gradient(rgba(216, 231, 227, 0.65), rgba(233, 244, 242, 0.95));
}

#images-box p{
    padding: 10px;
    box-shadow: 10px 10px 40px rgb(50, 128, 123);
    text-align: center;
    font-size: 30px;
}
#images-box section {
    display: flex;
    flex-direction: column;
}